@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#container{
    margin: 0 auto;
    width: 100%;
}

/* 헤더 영역 - 로고와 네비게이션 */

header{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
}

#logo{
    float: left;
    width: 350px;
    height: 100px;
    line-height: 100px;
    padding-left: 50px;
}

#logo h1{
    font-family:small-caps bold 24px/1 sans-serif;;
    font-weight: 600;
    font-size: 40px;
    color: rgb(18, 34, 16);
    text-shadow: -2px -4px 2px rgb(174, 174, 174);
    padding-left: 400px;
}

#logo h6{
    font-family:small-caps bold 24px/1 sans-serif;;
    font-weight: 100;
    font-size: 10px;
    color: rgb(205, 205, 205);
    /* text-shadow: 0 -1px 0 rgb(121, 121, 121); */
}

/* nav{
    width: 2000px;
    height: 50px;
    padding-top: 40px;
    padding-left: 100px;    
} */

#topMenu {
    height: 60px;
    padding-left: 600px;
}

#topMenu > li {
    float:left;
    position: relative;
    padding-left: 10px;
    padding-top: 30px;
}

#topMenu > li > a{
    display:block;
    color: rgba(0, 0, 0, 0.498);
    font-weight: 500;
    text-shadow: 0 2px rgba(0, 0, 0, 0.45);
    padding: 10px 0px;
    padding-right: 25px;
    padding-left: 25px;
}

#topMenu > li > span{
    font-size: 0.5em;
}

#topMenu > li > a:hover{
    color: rgb(200, 200, 200);
    text-shadow: 0 1px rgba(0, 0, 0, 0.273);
}

#topMenu > li > ul{
    display: none;
    position:absolute;
    width: 160px;
    background:rgba(255, 255, 255, 0.6);
    left: 20px;
    margin: 0;
}

#topMenu > li > ul > li{
    padding: 10px 10px 10px 30px;
}

#topMenu > li > ul > li > a{
    font-size: 14px;
    padding: 10px;
    color: #000;
}

#topMenu > li > li:hover > ul{
    display: block;
    z-index: 10;
}

#topMenu > li > ul > li > a:hover{
    color: #000;
}

/* top2 */

#topMenu2{
    width: 50%;
    height: 0px;
    position: relative;
    left: 60%;
}

#topMenu2 ul{
    margin-top: 15px;
}

#topMenu2 ul{
    float:left;
    padding:5px 20px;
    border-right: 1px solid #ddd;
}

#topMenu2 ul li:last-child{
    border: none;
}

#topMenu2 ul li a, #bottomMenu ul li a:visited {
    font-size: 15px;
    color: #666;
}

/* 메인 포터 */

.mainPhoto > img{
    height: 80%;
    width: 70%;
    /* display: block; */
    margin: 0px auto;
    float: left;
    padding-left: 10px;
}

.Photo1 > img{
    height: 29%;
    width: 29%;
    float: right;
    padding-right: 10px;
    /* display: block;
    margin: auto; */
}

.Photo3 > img{
    height: 585px;
    width: 550px;
    float: right;
    padding-top: 15px;
    padding-right: 10px;
}



/* #ball{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 153, 0);
    border-radius: 50%;
    position: relative;
    left: 100px;
    animation: movingball 1s ease-in infinite alternate;
}

#ball > a:hover{
    color: #07c;
}

@keyframes movingball{
    0%{
        top: 200px;
    }
    90%{
        width: 100px;
    }
    to{
        top: 600px;
        width: 150px;
        height: 90px;
    }
}

#box{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    position: absolute;
    left:100px;
    text-align: center;
    color: #eee;

    animation: movingbox 4s ease-in infinite alternate;
}

@keyframes movingbox {
    0%{
        left:10%;
    }
    100%{
        left: 90%;
    }            
} */

/* 탭 메뉴와 퀵 링크 */

#contents{
    width: 100%;
    height: 450px;
    margin-top: 500px;
    overflow: hidden;
}

/* 탭메뉴  */
#tabMenu{
    float: left;
    width:100%;
    height:100%;
    margin-top: 25px;
}

#tabMenu input[type="radio"]{
    display: none;
}

#tabMenu label{
    display:inline-block;
    margin: 0 0;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid transparent;
}


#tabMenu label:hover{
    color: rgb(96, 96, 96);
    cursor:pointer
}

#tabMenu input:checked + label{
    color: rgb(30, 30, 30);
    border: 1px solid #ddd;
    background-color: #eee;    
}

/* 공지사항과 갤러리 */

.tabContent{
    display: none;
    padding: 50px 0 0;
    border-top: 1px solid #ddd;
}

.tabContent h2{
    padding-bottom: 20px;
    padding-left: 10px;
}

#notice ul{
    list-style: disc;
    margin-left: 30px;
    padding-top: 0px;
}

#notice ul li{
    font-size: 16px;
    line-height: 2.5;
}

/* #gallery h2{
        height: 2px;
        float: left;
} */

#tab1:checked ~ #notice,
#tab2:checked ~ #gallery{
    display: block;
}

/* 퀵링크 */

#links{
    float: right;
    margin-top: 150px;
}

#links ul{
    padding: 0;
}

#links ul li{
    text-align: center;
    margin:30px;
}

#links ul li a span{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid rgb(141, 141, 141);
    line-height: 150px;
}

#profile{
    background-image: url('../company/6.jpg');
    background-size: cover;
}


/* #profile {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    float: right;
} */

#links ul li a p{
    margin-top: 15px;
    margin-left: 45px;
    font-weight: 600;
    color: #666;
}

/* 푸터 영역 */

footer{
    width: 100%;
    height: 100%;
    border-top: 1.8px solid #222;
}

#bottomMenu{
    width: 100%;
    height: 20px;
    position: relative;
}

#bottomMenu ul{
    margin-top: 15px;
}

#bottomMenu ul li{
    float:left;
    padding:5px 20px;
    border-right: 1px solid #ddd;
}

#bottomMenu ul li:last-child{
    border: none;
}

#bottomMenu ul li a, #bottomMenu ul li a:visited {
    font-size: 15px;
    color: #666;
}

#sns{
    position: absolute;
    right: 0;
}

#sns ul li{
    border: none;
    padding: 5px;
}

#company{
    clear: left;
    padding-top: 0px;
    margin-left: 20px;
}

p{
    font-size: 14px;
    color: #aaa;
    float: left;
}